<h1>Log in</h1>
<% if @errors %>
  <%=@errors %>
<%end%>
<div>
  <form method = "post" action="/login">
  <label>Username: </label>
  <input type = "text" name="user[username]"><br>
  <label>Password: </label>
  <input type = "password" name ="password[password_digest]"><br>
    <input type="submit" value="Log In." class="button">
  </form>
</div>
