<h1>Sign up</h1>
<%= erb :_errors %>
<div>
  <form method = "post" action="/users">
  <label>Username: </label>
  <input type = "text" name="user[username]"><br>
  <label>Email: </label>
  <input type = "text" name="user[email]"><br>
  <label>Password: </label>
  <input type = "password" name ="password[password_digest]"><br>
    <input type="submit" value="Create Your Account" class="button">
  </form>
</div>