<!-- move this file to better directory? -->
<form method="POST" id="question-creation" action="/questions">

    <!-- MAKE SURE THIS WORKS -->
    <input type="hidden" name="<%= @survey.id%>" value="<%= @survey.id %>">

    <label for="question">Question:</label><br />
    <input type="text" name="question[content]" size="50" placeholder="question"><br />

    <!-- AJAX here  -->
  <input type="submit" class="question-submission" value="Possible Choices">
</form>
