<!-- move this file to better directory? -->

<form method="POST" action="/possible-choices">
    <input type="hidden" name="" value="">
    <label for="possible-choice">Possible Choice:</label><br />
    <input type="text" name="" size="50"><br />
    <input type="submit" value="Submit">
</form>
