<h2>Create a survey:</h2>
  <form method="POST" action="/surveys">

    <label for="title">Survey Title:</label><br />
    <input type="text" name="" size="50" placeholder="title"><br />

    <label for="question">Question:</label><br />
    <input type="text" name="" size="50" placeholder="question"><br />

    <label for="possible-choice">Possible Choice:</label><br />
    <input type="text" name="" size="50"><br />

    <label for="possible-choice">Possible Choice:</label><br />
    <input type="text" name="" size="50"><br />

    <label for="possible-choice">Possible Choice:</label><br />
    <input type="text" name="" size="50"><br />

    <label for="possible-choice">Possible Choice:</label><br />
    <input type="text" name="" size="50"><br />

<a href="#">next question</a>
<p></p>


  <input type="submit" value="submit survey">
  </form>
